:host {
  display: block;
}

.mouse-icon {
  font-size: xx-large;
  color: #ffd740;
  background-color: transparent;
}

.no-content {
  display: flex;
  font-style: italic;
}

.no-content > div {
  margin: auto;
}

.detail-content {
  margin: 0 1rem;
  max-width: 100%;
  margin-bottom: 2rem;
}

.link {
  word-wrap: break-word;
}

.detail-card {
  border: 0.05rem solid #e0e0e0;
}
