:host {
  display: block;
}

.mouse-icon {
  font-size: xx-large;
  color: #ffd740;
  background-color: transparent;
  /* text-shadow: 0 0 80px rgb(192 219 255 / 75%); */
}

.no-content {
  text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
  display: flex;
}

.no-content > div {
  margin: auto;
}
