:host {
  display: block;
}

.container {
  padding: 0;
  margin: 0;
}

.graph-page-container {
  width: 100%;
  height: calc(100vh - 4rem);
  position: relative;
  display: grid;

  grid-template-columns: auto min(20rem, 20vw);
  grid-template-rows: max-content auto;
}

.graph {
  position: relative;
  grid-row: span 2;
}

.side-nav-item {
  background-color: white;
  border-left: solid 0.1rem #e0e0e0;
}

.detail {
  overflow-y: auto;
}

.graph-placeholder,
.placeholder-content {
  height: 100%;
  width: 100%;
}

.placeholder-content {
  position: absolute;
  display: flex;
}

.placeholder-content > div {
  margin: auto;
  text-shadow:
    0 0 5px #673ab7,
    0 0 15px #673ab7,
    0 0 15px #673ab7,
    0 0 25px #673ab7;
  font-size: xx-large;
  color: white;
}

.graph-icon {
  font-size: 20vh;
  color: #ffd740;
}

.level-1 {
  transform: rotate(20deg);
}

.level-1 .graph-icon {
  font-size: 20vh;
  color: #673ab7;
}
